[Desktop Entry]
Name=DawnlightSearch
Comment=Dawnlight Search Engine
Exec=dawnlightsearch
Icon=dawnlightsearch
Type=Application
StartupNotify=false
Terminal=false
Categories=Utility;

